Repository 392-f24/Stepwise, pull requests merged in 2024-10, with the labels that each got.

#1 feat: Router and homepage
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/pages/Home.jsx
Labels: size/M

#2 feat: firebase initialize
  jsconfig.json
  package-lock.json
  package.json
  src/utils/firebase/.gitkeep
  src/utils/firebaseConfig.js
Labels: size/XL, firebase

#4 feat(goal tracker list): Add goal tracker component
  src/components/Home/GoalTracker.jsx
Labels: size/L, home

#5 Add header and goal tracker to home page
  src/App.jsx
  src/pages/Home.jsx
Labels: size/M

#7 Put add functions together and add change task status function
  jsconfig.json
  src/App.jsx
  src/components/.gitkeep
  src/components/Home/.gitkeep
  src/components/common/Header.jsx
  src/context/.gitkeep
  src/contexts/UserContext.jsx
  src/hooks/.gitkeep
  src/hooks/useGoalsManager.js
  src/utils/auth.js
  src/utils/firebase/.gitkeep
  src/utils/firebase/authUtils.js
  src/utils/firebase/createUserProfile.js
  vite.config.js
Labels: firebase, size/L, common, home, hooks

#8 refactor/feat: app structure and add confirmation dialog for sign-out
  src/App.css
  src/App.jsx
  src/components/common/ConfirmSignOutDialog.jsx
  src/components/common/Footer.jsx
  src/components/common/Header.jsx
  src/pages/Streak.jsx
Labels: size/M, common

#9 Steakpage and Steak card on header ( with hard coded values)
  src/components/common/Footer.jsx
  src/components/common/Header.jsx
  src/pages/Streak.jsx
  src/styles/.gitkeep
  src/styles/StreakPage.css
Labels: size/M, components, pages

#11 feat: ProtectedRoute and LoadingCircle.
  src/App.jsx
  src/components/common/LoadingCircle.jsx
  src/contexts/UserContext.jsx
Labels: size/M, components, context

#12 feat: Integrate goals, micro-goals, and tasks with Firebase
  src/components/Home/AddItem.jsx
  src/components/Home/GoalTracker.jsx
  src/components/Home/MacroGoal.jsx
  src/components/Home/MicroGoal.jsx
  src/components/Home/ProgressIndicator.jsx
  src/components/Home/Task.jsx
  src/hooks/useGoalsUpdater.js
  src/pages/Home.jsx
  src/utils/calculateProgress.js
Labels: size/L, hooks, components, pages, utils

#13 style(ProgressIndicator): minor update to font size
  src/components/Home/ProgressIndicator.jsx
Labels: components, size/XS

#14 Style
  src/components/Home/MicroGoal.jsx
  src/components/Home/ProgressIndicator.jsx
Labels: components, size/XS
