Repository 392-f24/Stepwise, pull requests merged in 2024-11, with the labels that each got.

#15 feat: add some basic tests with actions and pre-commit updates.
  .github/workflows/firebase-deploy.yml
  .github/workflows/firebase-preview.yml
  .github/workflows/label-pr-size.yml.yml
  .husky/pre-commit
  package.json
  src/App.test.jsx
  src/pages/Home.test.jsx
  vite.config.js
Labels: size/L, pages

#17 fix: target detection should not for goal
  src/hooks/useGoalsUpdater.js
Labels: bug, hooks, size/XS

#18 feat(DeleteItem): Add deletion of goals, microgoals, and tasks
  src/components/Home/DeleteItem.jsx
  src/components/Home/MacroGoal.jsx
  src/components/Home/MicroGoal.jsx
  src/components/Home/Task.jsx
  src/components/common/ConfirmSignOutDialog.jsx
  src/components/common/ConfirmationDialog.jsx
  src/components/common/Header.jsx
  src/hooks/useGoalsUpdater.js
Labels: size/L, hooks, components

#19 fix(Header): fix confirmation dialogue staying open
  src/components/common/Header.jsx
Labels: bug, components, size/XS

#20 feat(streaks): Add streak page from real code and bd.
  .node-version
  README.md
  package-lock.json
  package.json
  src/components/common/Header.jsx
  src/hooks/useGoalsUpdater.js
  src/pages/Streak.jsx
  src/styles/StreakPage.css
  src/utils/streakUtils.js
Labels: size/L, hooks, components, pages, context, utils

#21 changing so that the calendar displays only purple fire icons instead…
  src/pages/Streak.jsx
Labels: pages, size/XS

#22 chore: refactor types declaration and fix some bugs
  .vscode/settings.json
  jsconfig.json
  src/components/Home/DeleteItem.jsx
  src/components/common/Header.jsx
  src/contexts/UserContext.jsx
  src/pages/Home.test.jsx
  src/utils/calculateProgress.js
  src/utils/firebase/authUtils.js
  src/utils/firebase/createUserProfile.js
  src/utils/firebaseConfig.js
  src/utils/streakUtils.js
  src/utils/theme.js
Labels: bug, enhancement, size/L, components, pages, context, utils, assets

#23 feat(category): enabling selecting colors only for goals(color)
  src/components/Home/AddItem.jsx
  src/components/Home/CategoryPicker.jsx
  src/hooks/useGoalsUpdater.js
  src/pages/Home.jsx
Labels: size/M, hooks, components, pages

#24 feat(due): implement due date for tasks
  package-lock.json
  package.json
  src/components/Home/AddItem.jsx
  src/components/Home/DateTimePickers.jsx
  src/components/Home/MicroGoal.jsx
  src/components/Home/Task.jsx
Labels: enhancement, size/M, components

#26 feat(goalDetails): Goals list redirects to goalDetails pages
  src/App.jsx
  src/components/Home/MacroGoal.jsx
  src/components/Home/MicroGoal.jsx
  src/hooks/useGoalsUpdater.test.js
  src/hooks/useGoalsUpdater/addOperations.js
  src/hooks/useGoalsUpdater/index.js
  src/hooks/useGoalsUpdater/toggleOperations.js
  src/pages/GoalDetails.jsx
  src/pages/Home.jsx
Labels: size/M, hooks, components, pages

#27 style(streak): Chage weekends to black.
  src/styles/StreakPage.css
Labels: components, size/XS

#28 fix(streak-count): Fix streak count calculation
  src/contexts/UserContext.jsx
  src/hooks/useGoalsUpdater.test.js
  src/hooks/useGoalsUpdater/updateHelpers.js
  src/pages/Home.test.jsx
  src/pages/Streak.jsx
  src/styles/StreakPage.css
  src/utils/firebase/createUserProfile.js
  src/utils/streakUtils.js
Labels: size/L, hooks, pages, context, utils

#29 feat(updateGoal): Enable update goal name and/or category after set
  src/components/Home/AddItem.jsx
  src/hooks/useGoalsUpdater/addOperations.js
  src/hooks/useGoalsUpdater/index.js
  src/pages/GoalDetails.jsx
Labels: size/M, hooks, components, pages

#30 fix(MacroGoal): fix delete goal
  src/components/Home/MacroGoal.jsx
Labels: components, size/XS
